*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eac285;
}
.container {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 20px 45px rgba(120, 76, 10, 0.25);
}
.cake{
    width: 100%;
    position: absolute;
    bottom: 60px;
}
.bottom-layer,
.top-layer,
.middle-layer {
    height: 80px;
    
}